<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page des Topics - Jilt</title>
    <link rel="stylesheet" href="/styles/topic.css">
</head>
<body>
    <main>
        <section class="topics">
            <h1>Tous les Topics</h1>
            <ul>
                <li>
                    <h2><a href="#">Titre du premier topic</a></h2>
                    <p>Nombre de réponses | Date du dernier message | Auteur du dernier message</p>
                </li>
                <li>
                    <h2><a href="#">Titre du deuxième topic</a></h2>
                    <p>Nombre de réponses | Date du dernier message | Auteur du dernier message</p>
                    <p>
                    </p>
                </li>
            </ul>
        </section>
        <section class="topics">
            <h1>Tous les Topics</h1>
            <ul>
                <li>
                    <h2><a href="#">Titre du premier topic</a></h2>
                    <p>Nombre de réponses | Date du dernier message | Auteur du dernier message</p>
                </li>
                <li>
                    <h2><a href="#">Titre du deuxième topic</a></h2>
                    <p>Nombre de réponses | Date du dernier message | Auteur du dernier message</p>
                    <p>
                    </p>
                </li>
                
            </ul>
        </section>
    </main>

    <footer>
        
    </footer>
</body>
</html>
