/* Section des topics */
.category {
  background-color: #ffffffaa;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #222;
}

.category h1 {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #222;
}

.category a {
  text-decoration: none;
  color: #222;
}

.category a:hover {
  text-decoration: underline;
}

.category ul {
  list-style-type: none;
}

.category ul li {
  border-bottom: 1px solid #222;
  padding: 10px 0;
}

.category ul li h2 {
  font-size: 1.2rem;
  color: #222;
}

.category ul li p {
  color: #999;
  font-size: 0.9rem;
  margin-top: 5px;
}

.category ul li a {
  text-decoration: none;
  color: #222;
}
