@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
}

.main-content {
  padding: 20px;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 25px;
}

/* Styles pour les discussions */
.discussion {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.discussion h3 {
  margin-top: 0;
}

.custom-shape-divider-bottom-1719406001 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1719406001 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 246px;
}

.custom-shape-divider-bottom-1719406001 .shape-fill {
  fill: #4a4a4a;
}
