nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}

.navbar {
  background-color: #efefef;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 73px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.right {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-inline: 20px;
}

.right .a a {
  padding: 0 20px;
  color: #2f2f2f;
  text-decoration: none;
  border-radius: 15px;
}

.right .a a:hover {
  padding: 10px 20px;
  background-color: #333;
  color: rgb(255, 255, 255);
}

.left a {
  color: #f2f2f2;
  text-decoration: none;
}

.left a:hover {
  color: rgb(255, 228, 228);
}

.navbar-logo img {
  height: 70px;
  overflow: hidden;
  border-radius: 45px;
}

.profile-menu {
  position: relative;
}

.profile-icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.profile-icon img {
  width: 80%;
  height: auto;
  border-radius: 50%;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgb(224, 224, 224);
  box-shadow: 0 8px 16px rgba(179, 168, 168, 0.2);
  border-radius: 10px;
  z-index: 1;
}

.profile-icon.active .dropdown-menu {
  display: block;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-menu {
  overflow: hidden;
}

.dropdown-menu a {
  color: rgb(61, 61, 61);
  text-decoration: none;
  display: block;
  padding: 20px 40px;
  margin: 0;
  width: 80%;
}

.dropdown-menu a:hover {
  background-color: #fff;
  color: #333;
}
