{{ define "navbar" }}

<nav>
  <div class="navbar">
    <div class="right">
      <a href="/" class="navbar-logo"
        ><img src="/static/img/logoJILT.png" alt="Logo"
      /></a>
      <div class="a">
        <a href="/">Accueil</a>
        <a href="/categories">Catégories</a>
        <a href="/about">À propos</a>
        <a href="/help">Assistance</a>
        <a href="/admin">Admin</a>
      </div>
    </div>
    <div class="left">
      <div class="profile-menu">
        <div class="profile-icon">
          <img src="/static/img/bonhomme.png" alt="User Icon" />
          <div class="dropdown-menu">
            <a href="/profile">Profile</a>
            <a href="/logout">Se déconnecter </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

{{ end }}
