{{ define "content" }}

<main>
  <section id="index">
    <h2>Forum</h2>
    <p>
      Welcome to the JILT Forum. This is a place where you can discuss anything
      related to programming.
    </p>
    <p>Feel free to ask questions, share your knowledge, and help others.</p>
    <p>Happy coding!</p>

    <div class="categories">
      <h3>Categories</h3>
      <div class="categories-container">
        {{ range . }}
        <div class="category">
          <a href="/categories/category?uuid={{ .Uuid }}" class="category-a"
            >{{ .Name }}</a
          >

          {{ range .Topics }}

          <div class="topic">
            <a href="/topics/topic?uuid={{ .Uuid }}" class="topic-a"
              >{{ .Name }}</a
            >
            <p>{{ .CreatedAt }}</p>
          </div>

          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </section>
</main>
{{ end }}
