{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Page</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/signup.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/cate.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/comments.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/editprofile.css" />
  </head>
  <body>
    {{ template "navbar" . }}

    <main>{{ template "content" . }}</main>

    <script src="/static/js/index.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
  </body>
</html>

{{ end }}
