{{ define "layout" }}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forum Page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css" />
  </head>
  <body>
    {{ template "navbar" . }}

    <main>{{ template "content" . }}</main>

    <footer>
      <p>&copy; 2024 JILT Forum. All rights reserved.</p>
    </footer>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/jquery-3.7.1.min.js"></script>
  </body>
</html>

{{ end }}
