{{ define "navbar" }}

<nav>
    <ul>
        <li><a href="/public/template/categories.html">Categories</a></li>
        <li><a href="/public/template/create.html">Create Post</a></li>
        <li><a href="/public/template/support.html">Support</a></li>
        <li class="user-options">
            <a href="#">Profile <span></span></a>
            <div class="dropdown-content">
                <a href="#" onclick="showLogin()">Login</a>
                <a href="#" onclick="showCreateAccount()">Create Account</a>
            </div>
        </li>
    </ul>
</nav>

{{ end }}