{{ define "content" }}

<div class="thread-container">
  <div class="thread">
    <h2>{{ .Title }}</h2>
  </div>
  <div class="comments">
    {{ range .Comments }}
    <div class="comment">
      <h3>{{ .Author.Name }}</h3>
      <p>{{ .Body }}</p>
      <p>{{ .CreatedAt }}</p>
      <p>{{ .Likes }} likes</p>
      <p>{{ .Dislikes }} dislikes</p>
      <button onclick="likeComment('{{ .Author.Uuid }}', '{{ .Uuid }}')">
        &#128077;
      </button>
      <button onclick="dislikeComment('{{ .Author.Uuid }}', '{{ .Uuid }}')">
        &#128078;
      </button>
    </div>
    {{ end }}

    <form action="/thread/comment" method="POST">
      <input type="hidden" name="thread_uuid" value="{{ .Uuid }}" />
      <textarea
        type="text"
        name="content"
        placeholder="Comment"
        required
      ></textarea>
      <button type="submit" class="button">Comment</button>
    </form>
  </div>
</div>

<script>
  function likeComment(userUuid, postUuid) {
    // /like?uuid=commentUuid
    url = "/like?user_uuid=" + userUuid + "&post_uuid=" + postUuid;
    fetch(url, {
      method: "POST",
    });
    console.log(
      "Liked comment with UUID: " + postUuid + " by user: " + userUuid
    );

    location.reload();
  }

  function dislikeComment(userUuid, postUuid) {
    // /dislike?uuid=commentUuid
    url = "/dislike?user_uuid=" + userUuid + "&post_uuid=" + postUuid;
    fetch(url, {
      method: "POST",
    });
    console.log(
      "Disliked comment with UUID: " + postUuid + " by user: " + userUuid
    );

    location.reload();
  }
</script>

{{ end }}
