{{ define "content" }}

<div class="thread-container">
  <div class="thread">
    <h2>{{ .Title }}</h2>
  </div>
  <div class="comments">
    {{ range .Comments }}
    <div class="comment">
      <h3>{{ .Author.Name }}</h3>
      <p>{{ .Body }}</p>
      <p>{{ .CreatedAt }}</p>
      <button onclick="likeComment('{{ .Uuid }}')">Like</button>
      <button onclick="dislikeComment('{{ .Uuid }}')">Dislike</button>
    </div>
    {{ end }}

    <form action="/thread/comment" method="POST">
      <input type="hidden" name="thread_uuid" value="{{ .Uuid }}" />
      <textarea
        type="text"
        name="content"
        placeholder="Comment"
        required
      ></textarea>
      <button type="submit" class="button">Comment</button>
    </form>
  </div>
</div>

<script>
  function likeComment(commentUuid) {
    // /like-comment?uuid=commentUuid

    console.log("Liked comment with UUID: " + commentUuid);
  }

  function dislikeComment(commentUuid) {
    console.log("Disliked comment with UUID: " + commentUuid);
  }
</script>

{{ end }}
