  {{ define "content" }}

  <main>
    <section id="topic">
      <div class="category">

        <h2>{{ .Name }}</h2>

        <form role="form" action="/thread/create" method="POST">
          <label for="Name">Title:</label>
          <input type="text" id="name" name="name" />
          <label for="Desc">Description:</label>
          <input type="text" id="desc" name="desc" />
          <input type="hidden" name="topic-uuid" value="{{ .Uuid }}" />
          <button type="submit">Create</button>
        </form>
        
      <ul>
        {{ range .Threads }}
        <li>
          <h3><a href="/thread/read?uuid={{ .Uuid }}">{{ .Title }}</a></h4>
          <text>{{ .Desc }}</text>
          <p>{{ .CreatedAt }}</p>
        </li>
        {{ end }}
      </ul>
    </section>
      </div>
  </main>

  {{ end }}
